{{> head }}

{{> navbar }}

<div class="container">
    <div class="row">
        <div class="col-7">
            <h1>Acerca de</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum assumenda qui dignissimos,
                quaerat in maiores. Soluta doloribus earum inventore libero accusamus illum eius nobis, ratione
                provident, aspernatur in tempora.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/beagle.jpg" alt="Foto de un beagle" class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer }}