{{> head }}

{{> navbar }}

<div class="jumbotron">
    <h1 class="display-4">Hola {{ capitalizar nombre }}!</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo possimus beatae saepe, distinctio vero, fugit delectus nobis ducimus
    </p>
    <hr>
    <p>Lorem ipsum dolor repellendus ea fugit ducimus in, sint porro eos, quia temporibus? esse eveniet ut asperiores.</p>
    <button class="btn btn-primary btn-lg">Boton</button>
</div>

{{> footer }}